<main role="main" class="inner cover">
  <h1 class="cover-heading">Get it there...</h1>
  
  <p class="lead">Lorem ipsum dolor sit amet, duo no autem eripuit periculis, an vel malis expetendis.</p>

  <p class="lead">
    <%= link_to 'Learn more', features_pages_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
